In [1]:
import mysql.connector
import pandas as pd
import bcrypt

def establish_sql_connection():
    # note: for testing purposes, run on localhost
    db = mysql.connector.connect(
        host = "localhost",
        port = 1001,
        user = "root",
        password = "dsa3101",
        database = "secdb"
        )
    cursor = db.cursor()
    # uncomment below for dockerised usage
    # db = mysql.connector.connect(
    #     host = "database",
    #     user = "root",
    #     password = "dsa3101",
    #     database = "secdb"
    #     )
    return db, cursor

In [2]:
# add users
def add_user_roles(filepath):

    try: 
        ## establish connection
        db = establish_sql_connection()
        cursor = db.cursor()
        print(f'db established: {db.is_connected()}')

        ## read users from path and change to QUERY format
        file = open(filepath, 'r')
        values = file.read().split("\n")
        values = list(map(lambda x: f'(\'{x}\')',values))
        values = ", ".join(values)
        query = f'INSERT INTO User_roles(role) VALUES {values};'

        cursor.execute(query)
        db.commit()
        print(f"Number of rows affected: {cursor.rowcount}")

    except mysql.connector.Error as err:
        print(f"Database error: {err}")

In [3]:
add_user_roles('User_roles.txt')

db established: True
Number of rows affected: 2

In [100]:
def add_user(username, password, role, email=None):
    try: 
        ## establish connection
        db = establish_sql_connection()
        cursor = db.cursor()
        print(f'db established: {db.is_connected()}')

        ## generate hash and salt
        salt = bcrypt.gensalt()
        hash = bcrypt.hashpw(password.encode('utf-8'), salt)

        ## get role id
        query = f'SELECT id FROM User_roles \
                                 where role = \'{role}\';'
        cursor.execute(query)
        role_id=cursor.fetchall()[0][0]

        ## insert query
        query = f"\
            INSERT INTO Users\
            (email, username, role_id, salt, hash)\
            VALUES (\'{email}\', \'{username}\', {role_id}, \'{salt.decode('utf-8')}\', \'{hash.decode('utf-8')}\')"
        cursor.execute(query)
        db.commit()

    except mysql.connector.Error as err:
        print(f"Database error: {err}")

    finally:
        cursor.close()
        db.close()

In [101]:
add_user('sec1','sec1','security','sec1@nus.edu.sg')

db = establish_sql_connection()
cursor = db.cursor()
query = "SELECT * from Users"
cursor.execute(query)
Users = cursor.fetchall()
print(f'Users: {Users}')
cursor.close()
db.close()

db established: True
Users: [(1, 'sec1', 'sec1@nus.edu.sg', 1, '$2b$12$yefe8Q4bk54xKpBPItKva.', '$2b$12$yefe8Q4bk54xKpBPItKva.WBg5Z9bPcmii7SLmj8k0SO1jokAlpr.')]

In [109]:
def authenticate(user,password):
    try:
        db = establish_sql_connection()
        cursor = db.cursor()
        query = f"SELECT hash from Users where username = \'{user}\'"
        cursor.execute(query)
        hash_stored = cursor.fetchall()

        ## Check username
        if len(hash_stored) == 0:
            print("User not found")
            return False
        
        ## Pull shash salt
        hash_stored = hash_stored[0][0]
        query = f"SELECT salt from Users where username = \'{user}\'"
        cursor.execute(query)
        salt = cursor.fetchall()[0][0]
        hash_entered = bcrypt.hashpw(password.encode('utf-8'),salt.encode('utf-8'))
    
    except mysql.connector.Error as err:
        print(f"Database error: {err}")
    
    finally:
        cursor.close()
        db.close()

    ## Check results
    authenticated = bcrypt.checkpw(password.encode('utf-8'),hash_stored.encode('utf-8'))
    
    return authenticated

In [113]:
authenticate("sec1","sec1")
authenticate("sec1","sec2")
authenticate("sec2","sec2")

User not found

False

In [ ]:
data = pd.read_csv("back-end/data/data_except_priority&status.csv")
df = pd.DataFrame(data)

In [6]:
def add_incident_types(filepath):
    try: 
        ## establish connection
        db, cursor = establish_sql_connection()
        if db is None:
            print("add_incident_types | Failed to establish a database connection.")
            return
        print(f'add_incident_types | db established: {db.is_connected()}')

        ## read incident types from path
        with open(filepath, 'r') as file:
            lines = file.readlines()
            values = [tuple(line.strip().split(", ")) for line in lines]

        # Format values for the query
        formatted_values = ", ".join([f"('{type}', '{priority}')" for type, priority in values])

        query = f'INSERT INTO Incident_types(type, default_priority) VALUES {formatted_values};'

        cursor.execute(query)
        db.commit()
        print(f"add_incident_types | Incident types added: {cursor.rowcount}")

        cursor.close()
        db.close()

    except mysql.connector.Error as err:
        print(f"add_incident_types | database error: {err}")

In [22]:
add_incident_types('Incident_types.txt')

add_incident_types | db established: True
('LOST AND FOUND', 'Normal'), ('DAMAGED PROPERTY', 'High'), ('STOLEN ITEMS', 'Normal'), ('EMERGENCY INCIDENTS', 'High'), ('SEXUAL INCIDENTS', 'High')
add_incident_types | Incident types added: 5

In [10]:
def add_incident_locations(filepath):
    try: 
        ## establish connection
        db, cursor = establish_sql_connection()
        if db is None:
            print("add_incident_locations | Failed to establish a database connection.")
            return
        print(f'add_incident_locations | db established: {db.is_connected()}')

        ## read incident locations from CSV file
        df = pd.read_csv(filepath)
        unique_locations = df['Location'].unique()

        # Populate Incident_location_groups table with unique locations
        for location in unique_locations:
            try:
                query = f"INSERT INTO Incident_location_groups(location_group) VALUES ('{location}')"
                cursor.execute(query)
                db.commit()
                print(f"add_incident_locations | Location Group added: {location}")
            except mysql.connector.Error as err:
                print(f"add_incident_locations | Error adding location group: {err}")

        # Map CSV columns to MySQL columns and insert data into Incident_location table
        for index, row in df.iterrows():
            building = row['Buildings']
            location = row['Location']
            latitude = row['Latitude']
            longitude = row['Longitude']
            residence = row['Residence']

            # Get location_group_id from Incident_location_groups table
            query = f"SELECT id FROM Incident_location_groups WHERE location_group = '{location}'"
            cursor.execute(query)
            location_group_id = cursor.fetchone()[0]

            # Insert data into Incident_location table
            try:
                query = f"INSERT INTO Incident_location(name, location_group_id, latitude, longitude, is_residence) VALUES ('{building!r}', {location_group_id}, {latitude}, {longitude}, {residence})"
                cursor.execute(query)
                db.commit()
                print(f"add_incident_locations | Incident Location added: {building!r}")
            except mysql.connector.Error as err:
                print(f"add_incident_locations | Error adding incident location: {err}")

        cursor.close()
        db.close()

    except mysql.connector.Error as err:
        print(f"add_incident_locations | database error: {err}")

In [11]:
add_incident_locations("Incident_location.csv")

add_incident_locations | db established: True
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'KR' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'PGP' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'BTC' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'UCC' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'FASS' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'DNMS' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'FOS' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'BIZ' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'CDE' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'YIH' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'HALL' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'SOC' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'UTown' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'HMKT' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'KV' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'COM' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding location group: 1062 (23000): Duplicate entry 'OTH' for key 'Incident_location_groups.location_group'
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '10 KR BUNGALOW'', 1, 1.294410986, 103.7785023, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '11 KR BUNGALOW'', 1, 1.293319335, 103.7736605, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '12A KR BUNGALOW'', 1, 1.29723462, 103.7747589, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '12 KR BUNGALOW'', 1, 1.297234098, 103.77391, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '14A PGP BUNGALOW'', 2, 1.293265034, 103.7774589, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '14 KR BUNGALOW'', 1, 1.297439351, 103.7744566, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '14 PGP BUNGALOW'', 2, 1.293234255, 103.777491, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '16 EVANS BUNGALOW'', 3, 1.317643511, 103.8196586, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '17 PGP BUNGALOW'', 2, 1.292575481, 103.7792351, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '18A PGP BUNGALOW'', 2, 1.292325199, 103.7795281, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '18 EVANS BUNGALOW'', 3, 1.317911647, 103.8197614, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '18 PGP BUNGALOW'', 2, 1.292335925, 103.7795173, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '1 KR BUNGALOW'', 1, 1.293041343, 103.7811579, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '20 EVANS BUNGALOW'', 3, 1.318059047, 103.8199399, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '2 KR BUNGALOW'', 1, 1.293895125, 103.7802656, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '2 PGP BUNGALOW'', 2, 1.292422999, 103.7799725, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '3 KR BUNGALOW'', 1, 1.294139769, 103.7801066, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '3 PGP BUNGALOW'', 2, 1.292651799, 103.7797184, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '4 KR BUNGALOW'', 1, 1.294413343, 103.7799701, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '4 PGP BUNGALOW'', 2, 1.292756725, 103.7793448, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '5 KR BUNGALOW'', 1, 1.294572999, 103.7796455, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '5 PGP BUNGALOW'', 2, 1.293103799, 103.7786261, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '6 KR BUNGALOW'', 1, 1.294604043, 103.7789697, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '6 PGP BUNGALOW'', 2, 1.293385625, 103.7779056, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '7 PGP BUNGALOW'', 2, 1.293238399, 103.7780367, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '8 PGP BUNGALOW'', 2, 1.293596473, 103.7775181, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '9 KR BUNGALOW'', 1, 1.294339477, 103.7782597, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '9 PGP BUNGALOW'', 2, 1.293962325, 103.7773228, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ALICE LEE PLAZA'', 4, 1.301676507, 103.7722053, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ARTS & SOCIAL SCIENCES BLOCK 1'', 5, 1.29414275, 103.7711509, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ARTS & SOCIAL SCIENCES BLOCK 2'', 5, 1.294517061, 103.7711126, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ARTS & SOCIAL SCIENCES BLOCK 3'', 5, 1.294677158, 103.7713133, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ARTS & SOCIAL SCIENCES BLOCK 4'', 5, 1.294575688, 103.7717937, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ARTS & SOCIAL SCIENCES BLOCK 5'', 5, 1.294230691, 103.7718952, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ARTS & SOCIAL SCIENCES BLOCK 6'', 5, 1.295434799, 103.773244, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FASS BLK7 (SHAW FDN BLDG)'', 5, 1.293258477, 103.7733817, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ARTS & SOCIAL SCIENCES BLOCK 8'', 5, 1.294061185, 103.7720122, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'TAN CHENG LOCK BABA HSE MUSEUM'', 6, 1.277214325, 103.8373254, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BTC-BLOCK B'', 3, 1.319007737, 103.8169549, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BRENNER CTR FOR MOLECULAR MED'', 7, 1.294813169, 103.7806383, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BTC-BIN CENTRE'', 3, 1.319801578, 103.8176313, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BUSINESS BLOCK 1-MOCHTAR RIADY'', 8, 1.292482077, 103.7740684, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BUSINESS BLOCK 2'', 8, 1.293351176, 103.7750483, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'NUS ENTERPRISE-JTC BLK71'', 8, 1.292392337, 103.7757231, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BOOSTER PUMP HSE(NEXT LKCNHM)'', 4, 1.301382961, 103.7733115, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BTC-CAFE'', 3, 1.319623502, 103.8174052, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CANTEEN 1 (TECHNO EDGE)'', 9, 1.297995633, 103.7717593, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CANTEEN 4 (FRONTIER)'', 7, 1.296414273, 103.7803745, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'INFORMATION TECHNOLOGY'', 9, 1.29755262, 103.7725433, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CTR FOR ENGLISH LANGUAGE COMMUNICATION'', 9, 1.297113412, 103.7714078, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CTR FOR LIFE SCIENCES'', 7, 1.294495673, 103.7809137, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CTR FOR THE ARTS'', 10, 1.29917139, 103.7737631, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'RAFFLES HALL (COMMUNAL HALL)'', 10, 1.300002869, 103.7739354, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'KE VII HALL (COMMUNAL HALL)'', 2, 1.292402899, 103.7810646, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'TEMASEK HALL (COMMUNAL HALL)'', 11, 1.292822129, 103.7714113, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'EUSOFF HALL (COMMUNAL HALL)'', 11, 1.293724685, 103.7702582, True)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CENTRAL LIBRARY'', 5, 1.296375466, 103.7730045, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'COMPUTING BLOCK 1'', 12, 1.294771346, 103.773839, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'COMPUTING BLOCK 2'', 12, 1.294225262, 103.7740172, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'COMPUTING BLOCK 3'', 12, 1.294839606, 103.77459, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'AS8 CARPARK'', 5, 1.295895333, 103.7720224, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BIZ1 CARPARK'', 8, 1.292703782, 103.7746058, False)' at line 1
add_incident_locations | Error adding incident location: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CELS CARPARK'', 7, 1.294475238, 103.7812, False)' at line 1

In [36]:

def add_incidents_from_csv(filepath):

    try: 
        ## establish connection
        db, cursor = establish_sql_connection()
        if db is None:
            print("add_incidents_from_csv | Failed to establish a database connection.")
            return
        print(f'add_incidents_from_csv | db established: {db.is_connected()}')

        ## read unique Incidents
        df = pd.read_csv(filepath)
        unique_incidents= df[['IncidentID','Description','Building','Incidents']].drop_duplicates()
        print(unique_incidents.shape)
        unique_incidents = unique_incidents.rename(columns={
            'Building': 'Location',
            'Incidents': 'Incident Type'
        })

        # Populate Incident_location_groups table with unique Incidents
        for index, row in unique_incidents.iterrows():
            try:
                # id
                id = row['IncidentID']
                #description
                description = row['Description']
                #location_id
                location = row['Location']
                query = f"SELECT id FROM Incident_locations WHERE location = '{location}'"
                cursor.execute(query)
                location_id = cursor.fetchone()[0]
                #incident_type_id
                incident_type = row['Incident Type']
                query = f"SELECT id FROM Incident_types WHERE type = '{incident_type}'"
                cursor.execute(query)
                incident_type_id = cursor.fetchone()[0]
                query = f"INSERT INTO Incidents(id,description,location_id,incident_type_id) VALUES \
                    ('{id}','{description}','{location_id}','{incident_type_id}')"
                cursor.execute(query)
            except mysql.connector.Error as err:
                print(f"add_incidents_from_csv | Error adding unique incident {id} to Incidents: {err}")
            finally:
                print(f"add_incidents_from_csv | Unique incidents added: {cursor.rowcount}")
                db.commit()

        ## read logs
        df['Time'] = pd.to_datetime(df['Time'],format="%d/%m/%y %H:%M")
        incident_logs = df[['IncidentID','Status','Priority','Time','User']].drop_duplicates()
        for index, row in incident_logs.iterrows():
            try:
                id = row['IncidentID']
                status = row['Status']
                priority = row['Priority']
                time = row['Time']
                user = row['User']
                query = f"SELECT id FROM Users WHERE username = '{user}'"
                cursor.execute(query)
                user_id = cursor.fetchone()[0]
                notes = ""

                ## Insert
                query = f"INSERT INTO Incident_logs(incident_id,status, priority,time,user_id,notes) VALUES \
                    ('{id}','{status}','{priority}','{time}','{user_id}','{notes}')"
                cursor.execute(query)
            except mysql.connector.Error as err:
                print(f"add_incidents_from_csv | Error adding log of incident {id} at {time} to Incidents: {err}")
        
        print(f"add_incidents_from_csv | Incident logs added: {index}")
        db.commit()

        cursor.close()
        db.close()

    except mysql.connector.Error as err:
        print(f"add_incident_locations | database error: {err}")

In [4]:
import os
print(os.getcwd())
add_incidents_from_csv("../../data/data_v0.4(back).csv")

/Users/chloetan/Desktop/DSA3101/proj/back/database/populate

NameError: name 'add_incidents_from_csv' is not defined

In [ ]:
import os
import pd
print(os.getcwd())
add_incidents_from_csv("../../data/data_v0.4(back).csv")