In [28]:
import os
import pandas as pd
import numpy as np
import random

In [44]:
loc['Location'][random.randint(0,342)]

'YIH'

In [2]:
mydir= os.getcwd()

In [64]:
df=pd.read_csv(os.path.join(mydir,'security_data.csv'))
df=df.drop(columns=['Location'])

In [14]:
columns_titles = ["Location","Buildings"]
loc=loc.reindex(columns=columns_titles)

In [66]:
df.head()

,id,Date,Time,Crime,Location,Building
0,1,04/02/2023,11:53,Sexual Incident Reports,HALL,TEMASEK HALL (COMMUNAL HALL)
1,2,23/08/2023,12:34,Sexual Incident Reports,KV,"KENT VALE APARTMENT BLK A,103"
2,3,15/05/2023,12:31,stolen items,FOS,LECTURE THEATRE 26
3,4,15/09/2023,22:02,cases of emergency,UTown,COLLEGE OF A&P TAN -TOWER
4,5,21/02/2023,19:42,stolen items,UTown,TEMBUSU COLLEGE- MPH

In [11]:
loc=pd.read_csv(os.path.join(mydir,'list_bldgs.csv'))

In [57]:
dt={'Location':[],'Building':[]}
loc.shape[0]

343

In [58]:
for i in range(df.shape[0]):
    a=random.randint(0,342)
    dt['Location'].append(loc['Location'][a])
    dt['Building'].append(loc['Buildings'][a])

In [62]:
Loc=pd.DataFrame(dt)

In [65]:
df=pd.concat([df,Loc],axis=1)

In [67]:
df.to_csv("security_data_updated.csv")